<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Type:</b>
  <%= @job.type %>
</p>

<p>
  <b>Frequency:</b>
  <%= @job.is_a?(CronJob) ? @job.cron_expression : @job.frequency_str %>
</p>

<p>
  <b>Buffer time:</b>
  <%= @job.buffer_time_str %>
</p>

<p>
  <b>Last successful time:</b>
  <%= @job.last_successful_time_str %>
</p>

<p>
  <b>Next scheduled time:</b>
  <%= @job.next_scheduled_time_str %>
</p>

<p>
  <b>Status:</b>
  <span class="<%= @job.status.downcase %>">
    <%= @job.status.capitalize %>
  </span>
</p>

<p>
  <b>Ping ID:</b>
  <%= @job.public_id %>
</p>

<p>
  <b>Notifications:</b>
  <%= @job.notifications.map(&:name) %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
